<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="server.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Veio da API</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis quae aliquam numquam sit eveniet eligendi. Quis impedit fugiat dicta officiis incidunt, optio est tenetur animi non quae ratione magni dolore.</p>

    <form action="">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name">
    </form>
</body>
</html>